.OrderContainer{
    position: relative;
    width: 30%;
    display: flex;
    flex-direction: column;
    height: auto;
    position: absolute;
    left: 35%;
    top: 20%;
    overflow: hidden;
    padding: 10px;
    gap: 10px;
    border: solid 5px hsl(209, 69%, 57%);
    border-radius: 20px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.3); /* cien */
    h1{
        position: relative;
    }
    textarea{
        width: 90%;
        top: 50%;
        height: 100px;
        left: 10px;
        max-height: 100px;
        max-width: 90%;

    }
    button{
        bottom: 10px;
        padding: 10px;
        width: 30%;

    }
}