.LogWindow{
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 0%;
    top: 0%;
    z-index: 100;
    background-color: rgb(255, 255, 255);
    .LogContainer{
        width: 400px;
        height: 300px;
        border: 5px solid hsl(209, 69%, 47%);
        border-radius:  20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        input{
            width: 70%;
            height: 10%;
            border-radius: 20px;
            border: 3px solid hsl(209, 69%, 47%);
        }
        button{
            padding: 10px;
            border-radius: 20px;
            background-color: hsl(209, 69%, 77%);
        }
        
    }
}
